/* Subscription info page */
.chargebee-info-header h2 {
  float: left;
}
.chargebee-info-header div {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
}
.chargebee-info-header div.active {
  background-color: #008000;
  color: #FFFFFF;
}
.chargebee-info-header div.in_trial {
  background-color: #FFA500;
  color: #000000;
}
.chargebee-info-header div.cancel {
  background-color: #FF0000;
  color: #FFFFFF;
}
.chargebee-info-header div.non_renewing {
  background-color: #575f77;
  color: #FFFFFF;
}
.chargebee-info-header a {
  margin-left: 10px;
  margin-top: 25px;
  float: left;
}
.chargebee-subscription-next {
  clear: both;
}

/* Subscription edit page */

a.chargebee-cancel-link {
 float: right;
}